#Serve Alternate Default Index Page
DirectoryIndex login.php

#Disable Directory Browsing
Options All -Indexes

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f [NC]
RewriteRule ^(.*)$ $1.php [L,QSA]
RewriteCond %{REQUEST_FILENAME}.htm -f [NC]
RewriteRule ^(.*)$ $1.htm [L,QSA]
RewriteCond %{REQUEST_FILENAME}.html -f [NC]
RewriteRule ^(.*)$ $1.html [L,QSA]

#clean URL
#for all page :
#RewriteRule ^([a-zA-Z_-]+)\/?$ index.php?mov=$1 [NC]

#for spesific page :
RewriteRule ^main\/?$ main.php?mov=main [NC]
RewriteRule ^item_demand\/?$ main.php?mov=item_demand [NC]
RewriteRule ^slider\/?$ main.php?mov=slider [NC]
RewriteRule ^about\/?$ main.php?mov=about [NC]
RewriteRule ^privacy\/?$ main.php?mov=privacy [NC]
RewriteRule ^career\/?$ main.php?mov=career [NC]
RewriteRule ^faq\/?$ main.php?mov=faq [NC]
RewriteRule ^contact\/?$ main.php?mov=contact [NC]
RewriteRule ^social\/?$ main.php?mov=social [NC]
RewriteRule ^entry_dist\/?$ main.php?mov=entry_dist [NC]
RewriteRule ^entry_product_dist\/?$ main.php?mov=entry_product_dist [NC]
RewriteRule ^show_dist\/?$ main.php?mov=show_dist [NC]
RewriteRule ^show_product_dist\/?$ main.php?mov=show_product_dist [NC]
RewriteRule ^user_member\/?$ main.php?mov=user_member [NC]
RewriteRule ^user_owner\/?$ main.php?mov=user_owner [NC]
RewriteRule ^user_eo\/?$ main.php?mov=user_eo [NC]
RewriteRule ^user_admin\/?$ main.php?mov=user_admin [NC]
RewriteRule ^list_field\/?$ main.php?mov=list_field [NC]
RewriteRule ^recon_reservation\/?$ main.php?mov=recon_reservation [NC]
RewriteRule ^recon_trans_bank\/?$ main.php?mov=recon_trans_bank [NC]
RewriteRule ^recon_atmb\/?$ main.php?mov=recon_atmb [NC]
RewriteRule ^add_user\/?$ main.php?mov=add_user [NC]

ErrorDocument 401 /error_page/401.php
ErrorDocument 403 /error_page/403.php
ErrorDocument 404 /error_page/404.php
ErrorDocument 500 /error_page/500.php
